<div class="card mx-2 mt-1">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h5 class="card-title">Filter</h5>
            </div>
            <div class="col-4 text-end">
                <i class="fa fa-filter" (click)="toggleFilter()"></i>
            </div>
        </div>
    </div>
    <div class="card-body row" *ngIf="showFilter">
        <div class="col col-md-2 col-sm-4">
            <label for="filter-author-name">Author Name</label>
            <input id="filter-author-name" type="text" class="form-control" [(ngModel)]="filter.authorName">
        </div>
        <div class="col col-md-2 col-sm-4">
            <label for="filter-status">Status</label>
            <select id="filter-status" class="form-control" [(ngModel)]="filter.status">
                <option value="">All</option>
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
        </div>
        <div class="col-3">
            <br>
            <button class="btn btn-primary" type="button" (click)="search()">Search</button>
        </div>
    </div>
</div>
<br>

<div class="card mx-2">
    <div class="card-body row">
        <div class="col-auto">
            <button class="btn btn-primary" type="button" (click)="create()">Create</button>
            </div>
        <div class="col-auto">
            <button class="btn btn-danger mx-3" type="button" (click)="deleteMany()">Delete</button>
        </div>
    </div>
</div>
<br>
<div class="card mx-2">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <input type="checkbox" [(ngModel)]="checkBoxAll" (ngModelChange)="onSelectAll()">
                    <th>Id</th>
                    <th>AuthorName</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data">
                    <input class="checkbox-author" type="checkbox" (change)="onSelect($event.target, row.id)">
                    <td>{{row.id}}</td>
                    <td>{{row.authorName}}</td>
                    <td>{{row.status}}</td>
                    <td><button class="btn btn-secondary mx-1" type="button" (click)="edit(row.id)">Edit</button>
                        <button class="btn btn-danger" type="button" (click)="delete(row.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="isModalOpen" class="modal show d-block modal-md" id="modalCreateAuthor" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class='modal-header'>
                <h4 class='modal-title'>Create</h4>
                <button class="btn btn-close" type="button" (click)="closeModal()"></button>
            </div>
            <form [formGroup]="form" (ngSubmit)="save()">
                <div class="modal-body">
                    <div class="card m-2">
                        <div class="card-body row">
                            <div class="col-12">
                                <label for="author-name">Author Name</label>
                                <input id="author-name" type="text" class="form-control" formControlName="authorName">
                            </div>
                            <div class="col-12">
                                <label for="author-name">Status</label><br>
                                <input type="checkbox" formControlName="status">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
                        {{selected.id?'Update':'Add'}}
                    </button>
                    <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>