<div class="card m-2">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="save()" class="row">
            <div class="col-3">
                <label for="author-name">Author Name</label>
                <input id="author-name" type="text" class="form-control" formControlName="authorName">
            </div>
            <div class="col-1">
                <label for="author-name">Status</label><br>
                <input type="checkbox" formControlName="status">
            </div>
            <div class="col-3">
                <br>
                <input class="btn btn-primary" type="submit" value="{{selected.id?'Update':'Add'}}"
                    [disabled]="form.invalid">
            </div>
        </form>
    </div>
</div>
<br>
<div class="card m-2">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>AuthorName</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data">
                    <td>{{row.id}}</td>
                    <td>{{row.authorName}}</td>
                    <td>{{row.status}}</td>
                    <td><button class="btn btn-secondary mx-1" type="button" (click)="edit(row.id)">Edit</button> <button class="btn btn-danger" type="button" (click)="delete(row.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>